{% extends "base.html" %}

{% block content %}
<!-- Main Content-->
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8">

                {% for obj in object_list %}
                {% if obj.featured %}
                
                <div class="card bg-light text-black mb-2">
                    <div class="card-body">
                        <a href="{% url 'post' obj.pk %}">
                            <h4 class="card-title">{{ obj.title }}</h4>
                        </a>
                        <p class="card-text">{{ obj.intro }}...</p>

                        <div class="row">
                            <div class="col-5"><h6 class="text-muted card-subtitle mb-2">{{ obj.updated_at|timesince }} ago</h6></div>
                            <div class="col-6">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                {% for tag in obj.categories.all %}
                                <span><!-- <a href="{% url 'tag_view' tag %}" class="text-black border border-primary p-1">#{{ tag }}</a> -->
                                    <a class="btn btn-secondary btn-sm m-sm-1" href="{% url 'tag_view' tag %}" role="button">#{{ tag }}</a></span>
                                {% endfor %}
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>
                               
                {% endif %}

                {% endfor %}

            </div>
            <div class="col-4">
                <h5 class="text-center">Posts</h5>
                <hr>
                {% for obj in object_list %}
                <a href="{% url 'post' obj.pk %}">
                    <p class="fs-6">{{ obj.title }}
                </a>
                <span class="fs-6 text-muted">{{ obj.updated_at|timesince }} ago</span>
                {% for tag in obj.categories.all %}
                <span class=""><a href="{% url 'tag_view' tag %}" class="text-black p-1">#{{ tag }}</a></span>
                {% endfor %}
            </p>

                {% endfor %}
            </div>
        </div>
    </div>

</main>

{% endblock content %}